body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.contact-container {
  max-width: 800px;
  height: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #add8e6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.form-container {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #ec8690;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ffa6af;
  font-weight: 800;
}
