h2 {
  font-size: 3em;
  font-weight: 800;
}

.maker-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

#maker-illustration {
  margin-right: 5%;
  margin-bottom: 2em;
  border: 2px solid black;
  border-radius: 4%;
  object-fit: contain;
  width: 50%;
  height: 100%;
}

#maker-story {
  padding-left: 2em;
  padding-right: 2em;
  text-align: left;
}

.inner-detail-box {
  margin-top: 10%;
  /*margin-bottom: 0px;*/
  /*CHANGED*/
  /*column-gap: 200px; */
  /*CHANGED*/
  /* line-height: 50px; */
  /* flex-direction: column; */
  /* justify-content: left;*/
  /*CHANGED*/
}

.product-customization {
  text-align: left;
  width: 215px;
  margin-top: 20px;
  margin-bottom: 30px;
}
